body {
    font-family: 'Arial', sans-serif;
    background-color: #f8e9f8;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #f78fb3;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #f78fb3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #e16c90;
}

#surpriseText {
    margin-top: 20px;
    font-size: 1.2em;
    color: #5d5d5d;
}
